.ps-headline{
    border-bottom: none;
    margin-bottom: 10px;
}

    .ps-headline h2, .ps-headline h3, .ps-headline h4{
        margin: 0 0 -2px;
        border-bottom: 2px solid #72c02c;
        padding-bottom: 5px;
        display: inline-block;
    }

    .ps-headline h2{
        font-size: 22px;
    }

.product-item *{
    font-family: 'Open Sans', Arial, sans-serif;
}

.product-item h2{
    margin-top: 2px;
    font-size: 22px;
}

.product-item a{
    text-decoration: none;
}

.product-item .line-bottom{
    border-bottom: 1px solid #e4e9f0;
}

.product-item .min-height{
    min-height: 90px;
}

.video-margin{
    margin-left: 0px;
}

article h1, article h2, article h3{
    margin-top: 10px;
    line-height: 150%;
    color: #555;
}

article h2, article h3 {
    color: #0094ff;
}